<mat-card>    
    <div class="container-team" align="center">
        <img [src]="team.image" alt="">
        <h3>{{team.name}}</h3>
        <mat-grid-list *ngIf="enableButtons" cols="2" rowHeight="50px">
            <mat-grid-tile align="center" >
                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="action('edit')">
                    <mat-icon>edit</mat-icon>
                  </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="action('delete')">
                    <mat-icon>delete</mat-icon>
                  </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-card>